body{
background-color: #fceae8;
color: #333;
letter-spacing: 1px;
font-size: 14px;
margin: 0;
padding: 0;
}

.overlay{
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

#head{
    width: 681px;
}

.slides-navigation{
    z-index: 6;
}

.slides-navigation .next,
.slides-navigation .prev{
    height: 47px;
    width: 47px;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides-navigation a.next{
    right: 20px;
    background-image:url("next.png");
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url("prev.png");
}

img{
    width: 100%;
    height: 100%;
}

.titleMessage{
    margin-top: -176px;
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 250px;
    top: 60%;
}

.titleMessage .heading p{
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 7px;
    /* font-family: 'Ubuntu'; */
}

.titleMessage .heading .main{
    font-size: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 300;

}

.titleMessage .heading .body{
    font-size: 23px;
    font-weight: 100;

}

.aboutImage{
    max-width: 100%;
}

.section{
    padding: 45px 0px;
}

#para1{
    letter-spacing: 1px;
    line-height: 20px;
}

h2{
    letter-spacing: 2px;
}

.skillsSection,
.contactSection
{
    background-color: #e74c3c;
}

.col-md-12{
    text-align: center;
    color: white;
}

.wid{
    width: 1240px;
}

.skill{
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
}

.chart{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 152px;
    height: 152px;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: black;
    line-height: 152px;
    font-size: 35px;
    display: inline-block;
}

.chart .percent:after{
    content: "%";
}


.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
    border-top: none;
    width: 70%;
    margin-left: 20px;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40px;
    height: 60px;
    font-size: 45px;
    margin-left: -7%;
    color: black;
}

.contactButton {
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-decoration: none;
}

.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
    background-color: white;
}

#contact{
    height: 320px;
}

.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	/* padding: 5px */
}
/* 
.filter .current {
	background-color: #e74c3c;;
	border-color: #e74c3c;
	color: #fff;
} */

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}


.items li {
	display: inline-block;
	padding: 5px 0px 5px 20px;
}

.itemsContainer {
	width: 100%;
}



.items li img {
	width: 100%;
	/* -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s; */
    transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color:#fff ;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    /* background-color: #e74c3c; */
    position: relative;
    display: inline-block;


    /* -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s; */
    transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    /* -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s; */
    transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	/* webkit-transform: scale(1.05, 1.05);
    moz-transform: scale(1.05, 1.05);
    o-transform: scale(1.05, 1.05);
    ms-transform: scale(1.05, 1.05); */
    transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}


.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}

.current{
    margin: 50px 200px 0;
    background-color: #e74c3c;;
    border-color: #e74c3c;
    height: 40px;
    padding-top: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 7px;
}

h5{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 900;
}

.h5{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 900;
}

#call{
    background-color: #e74c3c;
    height: 250px;
    width: 100%;
}
#image{
    height: 200px;
}

.websites{
    margin: 0px 0px 20px 0px;

}

#navigation {
	background-color: #e74c3c;
    padding: 10px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url("icons8-menu-90.png");
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

#dark{
width: 250px;
text-align: center;
display: inline-block;
color:white;
margin-top: 10px;
/* font-size: 1.5em; */
}

#kuchnaya{
    margin-top: 5px;
    font-family:Kaushan Script;
    font-weight: 900;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    margin-bottom: 15px;

}

#purana{
    font-size: 50px; 
    font-family:Lobster ;
    margin-top: 20px
}

#p{
margin-top: 20px;
line-height: 20px;
}

.jyash{
    margin-top:50px;
    font-family: Lobster;
    font-size: 15px;
    color:grey;
}

.yash{
    padding-left: 321px;
    color:black;
    font-weight:900;
}

#contacts{
    height:140px;
}

.heading h2{
        margin-top: -20px;
}

.sqquare{
    margin-left: 77px;
}

.imgg{
    width: 358px;
    margin-left: 17px
}

